

@font-face{
    font-family: 'Roboto';
    src:url(Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background: rgb(255, 255, 255);
    color: #333;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.brand-container{
    height: 36px;
    width: 134px;
}
.brand-container .site-logo{
    height: 100%;
    width: 100%;
}
.site-container .site-header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.screen-reader-text{
    position: absolute;
    top:-9999px;
    left: -9999px;
}
.site-container .site-header a{
    color: #fff;
    background: #e50914;
    padding: 8px 18px;
    border-radius: 5px;
}